<div class='jumbotron'>
    <h1>欢迎来到岛风</h1>
    <p>您可以在本网站分享自己的行程，或者查询所需的行程。本网站旨在为喜爱自由行的游客们提供力所能及的帮助。</p>
    <div class='row'>
        <div class='col-sm-6 col-md-4'>
            <div class='thumbnail'>
                <img src='../images/homepage_tokyotowel.jpg' alt=''>
                <div class='caption'>
                    <h3>东京塔</h3>
                    <p style='font-size:15px;'>東京鐵塔是位於日本東京都港區芝公園的電波塔。
                        其以巴黎艾菲爾鐵塔為範本而建造，高333公尺，比前者高13公尺，完工以來即成為東京著名地標與觀光景點。</p>
                    <p><a href='#' class='btn btn-primary' role='button'>详情</a> <a href='/login' class='btn btn-default'
                            role='button'>加入我的旅游清单</a></p>
                </div>
            </div>
        </div>
        <div class='col-sm-6 col-md-4'>
            <div class='thumbnail'>
                <img src='../images/homepage_yuma.jpg' alt=''>
                <div class='caption'>
                    <h3>有马温泉</h3>
                    <p style='font-size:15px;'>有馬溫泉是位於日本兵庫縣神戶市北區有馬町的溫泉區。
                        日本三古湯之一，《枕草子》及林羅山都將其列為三名泉，江戶時代的溫泉番付中為排名最高的西大關。</p>
                    <p><a href='#' class='btn btn-primary' role='button'>详情</a> <a href='/login' class='btn btn-default'
                            role='button'>加入我的旅游清单</a></p>
                </div>
            </div>
        </div>
        <div class='col-sm-6 col-md-4'>
            <div class='thumbnail'>
                <img src='../images/homepage_kyoto1.jpg' alt=''>
                <div class='caption'>
                    <h3>伏见稻荷大社</h3>
                    <p style='font-size:15px;'>伏見稻荷大社是一位於日本京都市伏見區內的神社，是遍及日本全國各地約四萬多所的稻荷神社之總本社，以境內所擁有的「千本鳥居」聞名。</p>
                    <p><a href='#' class='btn btn-primary' role='button'>详情</a> <a href='/login' class='btn btn-default'
                            role='button'>加入我的旅游清单</a></p>
                </div>
            </div>
        </div>
    </div>

    <p><a class='btn btn-lg btn-primary' href='register' role='button'>去注册 »</a></p>
    <p><a class='btn btn-default' href='login' role='button'>已有帐号?去登录 »</a></p>

</div>