<div class='jumbotron'>
    <h1>添加我的行程</h1>
<p id='view'></p>
<input id='addText' type='text'>
<button id='btn'>+</button>    
</div>
<script>
    $('#btn').on('click', function() {
        let str = $('#addText').val();
        $('#view').html(str);
    })
</script>